
/* Your CSS Code here. */
nav{
	display:flex;
	justify-content:space-between;
}
ul{
	display:flex;
	justify-content:space-between;
}
li{
	list-style-type:none;
	margin-right:5px;
}
img{
	width:100%;
}
h1{
	text-align:center;
}